<h1>Introducition to Front-end development</h1>
<p>A front-end developer architects and develops client part ofv websites and applications using web technologies (languages):</p>
<ul>
<li style="color: red;">HTML</li>
<li style="color: green;">CSS</li>
<li style="color: blue;">JavaScript</li>
</ul>